* {
  padding: 0;
  margin: 0;
}

.breadcrumb {
  background: #549c4a;
  height: 30px;
  padding-top: 10px;
}

.breadcrumb li {
  display: inline;
  padding-left: 10px;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb a:hover {
  background: #fff;
  color: #549c4a;
  padding: 15px 10px;
}

.breadcrumb li.location::after {
  content: " >";
  padding-left: 10px;
  color: #fff;
}

.breadcrumb li.attribute+li.attribute::before {
  content: " /";
  padding-right: 10px;
  color: #fff;
}

.breadcrumb a:active {
  background: #fff;
  color: #549c4a;
  padding: 15px 10px;
}
