footer {  
  position: relative;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-distributed{
	width: 100%;
	padding: 50px 0 0 0;
	background-color: darkslategrey;
	text-align: left;
	font: bold 16px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
  padding-bottom: 25px;
}

/* The company logo */

.footer-logo {
	max-height: 250px;
	width: auto;
	padding:5px 50px 10px 50px;
  margin: 0 auto;
  display: block;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 25%;
}

.footer-distributed .footer-center h2 {
	color: #ffffff;
	font-family: sans-serif;
	margin-bottom: 10px;
}

.footer-distributed .footer-links a{
	display: block;
	color:  #92999f;
	padding: 5px 0;
	text-decoration: none;
	font-weight: normal;;
}

.footer-distributed .footer-links a:hover{
	display: block;
	color:  #ffffff;
	padding: 5px 0;
	text-decoration: underline;
	font-weight: normal;;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}

.footer-distributed .footer-right h2 {
	color: #ffffff;
	font-family: sans-serif;
	margin-bottom: 10px;
}

.footer-right p {
	color:  #92999f;
	font-size: 0.8rem;
	font-weight: normal;

}

.footer-right h3 {
	color: #ffffff;
	font-size: 1rem;
	margin-bottom: 10px;
}

.footer-right a {
	color: #92999f;
	font-size: 0.8rem;
	font-weight: normal;
	text-decoration: none;
	padding-top: 15px;
}

.footer-right a:hover {
	color: #ffffff;
	font-size: 0.7rem;
	font-weight: normal;
	text-decoration: underline;
}

.footer-full {
	width: 100%;
	padding: 10px;
	background-color: black;
	display: inline-block;
}

.footer-full .footer-lhalf,
.footer-full .footer-rhalf {
	display: inline-block;
}

.footer-full .footer-lhalf {
	width: 49%;
}

.footer-full .footer-rhalf {
	width: 49%;
	text-align: right;
}

.footer-lhalf p {
	color: grey;
	font-weight: normal;
	font-size: 0.8rem;
	padding: 15px 0 15px 0;
}

.footer-rhalf a {
	color: grey;
	font-size: 0.8rem;
	font-weight: normal;
	text-decoration: none;
	padding: 15px 0 15px 10px;
}

.footer-rhalf a:hover {
	color: grey;
	font-size: 0.8rem;
	font-weight: normal;
	text-decoration: underline;
	padding: 10px 0 10px 0;
}

#footer-tel-no {
  padding-top: 10px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right,
	.footer-full .footer-lhalf,
	.footer-full .footer-rhalf {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
