footer {
  position: relative;
	bottom: 0;
}

.footer-distributed{
	width: 100%;
	padding: 50px 0 0 0;
	background-color: darkslategrey;
	text-align: left;
	font: bold 16px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
