footer {
  position: relative;
	bottom: 0;
}

.footer-distributed{
	width: 100%;
	padding: 50px 0 0 0;
	background-color: darkslategrey;
	text-align: left;
	font: bold 16px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
  padding-bottom: 25px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 25%;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}

/* Lower footer */

.footer-full {
	width: 100%;
	padding: 10px;
	background-color: black;
	display: inline-block;
}

.footer-full .footer-lhalf,
.footer-full .footer-rhalf {
	display: inline-block;
}

.footer-full .footer-lhalf {
	width: 49%;
}

.footer-full .footer-rhalf {
	width: 49%;
	text-align: right;
}
