/* Table press custom sorting code */

/* "columnDefs": [ { "type": "date-eu", "targets": [ 0 ] } ] */

/* Table press custom styling */

.tablepress {
	width: auto;
	margin: 0 auto 1em;
}

.tablepress thead th,
.tablepress tfoot th {
	background-color: #549c4a;
	color: #ffffff;
	text-align: center;
}

.tablepress .column-1 {
	width: 125px;
}

.tablepress .column-2 {
	width: 180px;
}

.tablepress .column-3 {
	width: 160px;
}

.tablepress .column-4 {
	width: 200px;
	min-width: 125px;
}

.tablepress .column-5 {
	width: 220px;
}

.tablepress .column-6 {
	width: 225px;
	min-width: 175px;
}

.tablepress img {
	max-height: 50px;
}

.tablepress tbody td {
	vertical-align: middle;
}

caption a {
	color: white;
}
