/*Global Settings*/

body {
  font-family: sans-serif;
}

/*General TS Settings*/

.tombstone-box {
  border: 1px solid slategrey !important;
}

/*TS Section Settings*/
.image-wrapper {
  height: 100px;
  width: auto;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  margin: 10px 0 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
}

.type {
  color: #ffffff;
  background-color: #60b066;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
  padding: 0.4rem 0 0.4rem 1rem;
}

.value-eur {

}

.role {

}

.date {

}
