/*Global Settings*/

body {
  font-family: sans-serif;
}

/*General TS Settings*/

.tombstone-box {
  border: 1px solid slategrey !important;
}

/*TS Section Settings*/
.image-wrapper {
  height: 100px;
  width: auto;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  margin: 10px 0 10px 0;
}

.logo {

}

.type {

}

.value-eur {

}

.role {

}

.date {

}
